services:

  db:
    image: mysql:8
    container_name: mysql-db
    restart: always

    env_file:
      - .env

    ports:
      - "3307:3306"

    volumes:
      - mysql_data:/var/lib/mysql

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 5s
      timeout: 10s
      retries: 10

  api:
    image: gerenciador
    container_name: spring-api

    depends_on:
      db:
        condition: service_healthy

    env_file:
      - .env

    ports:
      - "8080:8080"

volumes:
  mysql_data: